:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --background-dark: #242424;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-dark);
  color: var(--text-color-dark);
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, p {
  color: var(--text-color-dark);
}

input::placeholder {
  color: #bbbbbb;
}
